



// $transition--pulsing {
//     @include transition(all, .4s, ease-in-out)
// }

// @mixin file-color($color) {
//     background-color: $color; 
//     border: 2px solid darken($color, 40%); 
// }


.javascript {
   color: #AFCB05; 
}



// .css {
//     color: green; 
// }

.absolute {
    position: absolute; 
}

.position-left {

    left: 0; 
    top: 25%; 

}


.position-right {
    right: 0;
}

.center {
    
}

// .vertical-align {
//     position: relative;
//   top: 50%;
//   transform: translateY(-50%);

// }


.document {
    @include border-radius(4px);
    height: 60px; 
    width: 40px;    color: #fff; 
    font-weight: bold; 
    cursor: pointer; 
}
.scss,
.sass {
    color: #CF649A;
}

.html {
    color: #52A6B1; 
}

.cartridge {
    height: 400px; 
    padding-top: rem-calc(100);
}


.java {
    color: #AFCB05; 
}

.mysql {
    color: #F88B00; 
}

body {
    background: none repeat scroll 0% 0% #1E1D1D;
    font-family: 'Oswald';
}



.side-menu {
    background-color: #272727; 
    position: fixed; 
    left: 0; 
    height: 100vh; 
    min-width: 33%; 
}


.document {

    @include single-transition(all, .2s, cubic-bezier(.53,.72,.06,1.31));
    &:hover {
        transform: scale(1.2);
    }
}



.transition {
    @include single-transition(all .2s ease-in-out);
}
